:root {
    --blue: #2196F3;
    --white: rgba(255, 255, 255, 1);
    --black: #212121;
    --light-black: #757575;
    --primary-font: 'roboto', sans-serif;
    --secundary-font: 'releway', sans-serif;
}
.header__about {
    list-style: none;
    }
.header__about a {
    text-decoration: none;
}

.solution {
    background-color: rgba(47, 48, 58, 1);
}


.title {
    font-family: 'roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 6%;
    align-items: center;
}
 
.